// Grid
$grid-columns: 12;
$grid-gutters: 10px;

@import 'mixins';

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;

  // Columns
  [class*="column-"] {
    flex: 0 0 auto;
    padding-right: $grid-gutters;
    padding-left: $grid-gutters;
  }

  // Remove gutters
  .no-gutters {
    padding-right: 0;
    padding-left: 0;
  }

  .no-gutters-small {
    @include breakpoint(small) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .end {
    justify-content: flex-end;
  }

  @include grid-system;
}
