// Links
$link-text-color: darken($cerulean, 10%);
$link-text-hover-color: darken($cerulean, 20%);

a {
  display: inline-block;
  color: $link-text-color;
  text-decoration: none;

  &:after {
    display: block;
    width: 0;
    height: 1px;
    background-color: $link-text-color;
    transition: width 0.13s ease-in;
    content: '';
  }

  @media (hover:hover) {
    &:hover {
      color: $link-text-hover-color;
      transition: color 0.25s ease-in;

      &:after {
        width: 100%;
      }
    }
  }
}
