// Main
@import 'colors';

$container-width: 960px;
$stripe-height: 10px;
$stripe-background-color: $cerulean;

// box-sizing
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  position: relative;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
  &:before {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $stripe-height;
    background-color: $stripe-background-color;
    content: '';
  }
}

// Adds consistent spacing for content components
.content > [data-component]:not(:first-child) {
  margin-top: ($stripe-height * 4);
}

// Adds consistent spacing to the last content component
.content > [data-component]:last-child {
  margin-bottom: ($stripe-height * 4);
}

// Content Container
.container {
  position: relative;
  z-index: 1;
  max-width: $container-width;
  width: 100%;
}
