// Main

// Local Variables
$container-width: 960px;
$stripe-height: 10px;

// box-sizing
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  position: relative;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $stripe-height;
    background-color: #00aeff;
    content: '';
  }
}

// Adds consistent spacing for direct children (header, main, footer) of .react-root
.react-root > * {
  margin-top: ($stripe-height * 2);
}

// Content Container
.container {
  position: relative;
  z-index: 1;
  max-width: $container-width;
  width: 100%;
}

// Images
figure {
  margin: 0;
  img {
    width: 100%;
  }
}

// Links
a {
  display: block;
  text-decoration: none;
}
