// Button Component
@import 'mixins';
@import 'type-setting';
@import 'colors';

$background-color: $cerulean;
$border-color: rgba($true-black, 0.15);
$button-text-color: $true-white;
$button-font-size: $text-font-size;

.btn {
  appearance: none;
  display: inline-block;
  padding: 10px 12px;
  font-size: $text-font-size;
  color: $button-text-color;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-block-small {
    @include breakpoint(small) {
      display: block;
      width: 100%;
    }
  }
}
