// Button Component
$background-color: $cerulean;
$border-color: rgba($true-black, 0.15);
$button-text-color: $true-white;
$button-font-size: $text-font-size;

// Ripple Animation
@keyframes ripple {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.btn {
  appearance: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 12px;
  color: $button-text-color;
  font-size: $button-font-size;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.15s ease-in;

  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba($true-white, 0.35);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
  }

  &.ripple:after {
    animation: ripple 0.5s 0.5s 2 ease-in;
  }

  &:hover {
    background-color: lighten($background-color, 8%);
    cursor: pointer;
    transition: background-color 0.35s ease-in;
  }

  &:active {
    background-color: darken($background-color, 8%);
    box-shadow: inset 2px 2px 5px rgba($true-black, 0.15), inset -2px -2px 5px rgba($true-black, 0.15);
    transition: all 0.25s ease-in;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-block-small {
    @include breakpoint(small) {
      display: block;
      width: 100%;
    }
  }
}
