// Menu component
$transition-duration: 0.35s;
$transition-delay: 0.2s;
$transition-timing-function: ease;

[data-component="menu"] {
  position: relative;
  z-index: 1;
  top: 3px;

  svg:hover {
    cursor: pointer;
  }
}

// Menu Animations
[data-component="menu"] {
  [class^="line-"] {
    transform-origin: center center;
  }

  .line-top {
    transition:
      transform $transition-duration $transition-timing-function,
      y $transition-duration $transition-delay $transition-timing-function;
  }
  .line-middle {
    opacity: 1;
    transition: opacity 0.25s $transition-delay $transition-timing-function;
  }
  .line-bottom {
    transition:
      transform $transition-duration $transition-timing-function,
      y $transition-duration $transition-delay $transition-timing-function;
  }

  &.is-open {
    .line-top {
      y: 18px;
      transform: rotate(-45deg);
      transition:
        y $transition-duration $transition-timing-function,
        transform $transition-duration $transition-delay $transition-timing-function;
    }
    .line-middle {
      opacity: 0;
      transition: opacity 0.25s $transition-timing-function;
    }
    .line-bottom {
      y: 18px;
      transform: rotate(45deg);
      transition:
        y $transition-duration $transition-timing-function,
        transform $transition-duration $transition-delay $transition-timing-function;
    }
  }
}
