// Hero Component
@import 'mixins';

[data-component="hero"] {
  position: relative;
  z-index: 1;
  background-color: #999;
  .hero-background-image {
    max-width: 2000px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5vw;
    }

    @include breakpoint(medium) {
      height: 350px;
    }

    @include breakpoint(large) {
      height: 600px;
    }
    &.home {
      background-image: url('../../assets/images/home/tableau-large_2x.jpg');
    }
  }

  // Project Hero background color overrides
  &[data-project="sony"] {
    background-color: #343A64;
  }

  &[data-project="content-cloud"] {
    background-color: #6bc04b;
  }

  .hero-image {
    display: block;
    max-width: 100%;
  }
}
