// Hero Component
@import 'mixins';
@import 'colors';

$sony-background-color: $brand-sony;
$thismoment-background-color: $brand-thismoment;

[data-component="hero"] {
  position: relative;
  z-index: 1;
  background-color: #999;
  .hero-background-image {
    max-width: 2000px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    .hero-skew {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5vw;
    }

    @include breakpoint(medium) {
      height: 350px;
    }

    @include breakpoint(large) {
      height: 600px;
    }
    &.home {
      background-image: url('../../assets/images/home/tableau-large.jpg');
    }
  }

  // Project Hero background color overrides
  &[data-project="sony"] {
    background-color: $sony-background-color;
  }

  &[data-project="content-cloud"] {
    background-color: $thismoment-background-color;
  }

  .hero-image {
    display: block;
    max-width: 100%;
  }
}
