.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo a {
  color: var(--secondary-color);
}

.logo a:hover {
  color: var(--primary-color);
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-left: 2rem;
}

.navLinks a {
  color: var(--text-color);
  font-weight: 500;
  position: relative;
}

.navLinks a:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.15s ease;
}

.navLinks a:hover {
  color: var(--primary-color);
}

.navLinks a:hover:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    padding: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navLinks {
    width: 100%;
    justify-content: space-between;
  }

  .navLinks li {
    margin-left: 0;
  }
}
