// Card Component
@import 'mixins';
@import 'type-setting';
@import 'colors';

$caption-text-color: $eerie-black;

[data-component="card"] {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    margin-bottom: 20px;
  }

  a {
    display: block;

    &:after {
      display: none;
    }
  }

  figcaption {
    margin-top: -1px;
    width: 100%;
    padding: 10px 10px 6px;
    color: $caption-text-color;

    @include breakpoint(medium) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .card-title + .card-metadata {
    margin-top: -($heading-bottom-margin);
    margin-bottom: 0;
  }
}
