// Card Component
@import 'mixins';
@import 'type-setting';

[data-component="card"] {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    margin-bottom: 20px;
  }

  a {
    display: block;
  }

  figcaption {
    margin-top: -4px;
    width: 100%;
    padding: 8px 5px;
    color: #000;
  h4 + p {
    margin-top: -($heading-bottom-margin);
  }
}
