// Icon Component
@import 'colors';

$networks: (
  email: $true-black,
  github: $true-black,
  linkedin: $brand-linkedin,
  codepen: $true-black,
  instagram: $brand-instagram,
  twitter: $brand-twitter
);

[data-component="icon"] {
  width: 45px;
  height: 45px;
  text-align: center;

  &:after {
    display: none;
  }

  svg {
    opacity: 0.75;
  }

  @each $network, $color in $networks {
    .icon-#{$network}:hover {
      opacity: 1;
      fill: #{$color};
    }
  }
}
