// Global Footer Component

@import 'mixins';

// Local Variables
$footer-background: #222;
$footer-text: #666;
$author-text: #ccc;

.global-footer {
  height: 50px;
  color: $footer-text;
  background-color: $footer-background;

  & > .container {
    align-items: center;
    height: 100%;
  }

  .footer-text {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }
  .author-metadata {
    margin-left: 5px;
    color: $author-text;
  }
}
