// Avatar Component
[data-component="avatar"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 300px;

    .avatar-image {
      border-radius: 50%;
    }

    .avatar-caption {
      margin: 15px 0 20px;
    }

    .avatar-name,
    .avatar-title { margin: 0; }
  }
}
