// Global Header Component

@import 'mixins';

[data-component="global-header"] {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 10px;

  @include breakpoint(large) {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .container {
    align-items: center;
  }

  .logo-container {
    display: flex;
    flex-direction: row;

    .logo-headline {
      position: relative;
      z-index: 1;
      margin-bottom: 0;
    }

    .logo-image + .logo-headline {
      position: relative;
      z-index: 1;
      left: 10px;
    }
  }
}
