// Global Header Component

@import 'mixins';

[data-component="global-header"] {
  position: relative;
  z-index: 2;
  margin-top: 25px;
  margin-bottom: 10px;

  @include breakpoint(large) {
    margin-bottom: 20px;
  }

  .container {
    align-items: center;
  }

  .logo-container {
    display: flex;
    flex-direction: row;

    .logo-image + .logo-text {
      margin-top: 3px;
      margin-left: 10px;
    }
  }
}
