// Colors

// Monochrome
$true-white: #fff;
$eerie-black: #222;
$gray: #ccc;
$granite-gray: #666;
$true-black: #000;

// Blues
$cerulean: #00aeff;

// Reds
$giants-orange: #fe5a1d;

// Branded Colors
$brand-sony: #343A64;
$brand-thismoment: #6bc04b;
$brand-linkedin: #0077b5;
$brand-instagram: #e1306c;
$brand-twitter: #1da1f2;
